<div class="comment-box">
  <app-users-list
    *ngIf="showUserList"
    [selectedUserID]="selectedUserID"
    [users]="filteredUsers"
    (onUserHover)="handleUserHover($event)"
    (onUserClick)="handleUserClick($event)"
  />

  <label for="comment">Completion Notes:</label>
  <div [formGroup]="form">
    <textarea
      #comment
      name="comment"
      formControlName="comment"
      id="comment"
      (focus)="manageUserList()"
      (keydown)="onKeydown($event)"
      (keyup)="onKeyup($event)"
    ></textarea>
  </div>
</div>
