.comment-list {
  list-style-type: none;
  padding-left: 0;
  border-bottom: 1px solid silver;

  & > li {
    border-bottom: 1px solid silver;
  }

  & > li:last-child {
    border-bottom: none;
  }
}
